body{
  background: #CCFFFF;
}
h2{
  color: #FFF;
  text-align: center;
}
a:link, a:active, a:visited{
  color: #FFF;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 51, 0.5);
}
a:hover{
  color: #000033;
}
