body{
  background: -webkit-linear-gradient(-45deg, #FFF 0%,##DCDCDC 24%,#00CED1 50%,#DCDCDC 79%,#FFF 100%);
}
h2{
  color: #FFF;
  text-align: center;
}
a:link, a:active, a:visited{
  color: #FFF;
}
a:hover{
  color: #000;
}
