@import url('https://fonts.googleapis.com/css?family=Artifika');
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');

body{
  background: #d0d0d0;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Reem Kufi", sans-serif;
  color: #1f9e08;
  margin: 0px;
}
h2{
  font-family: "Artifika", serif;
  color: #000;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 51, 0.5);
}
h4{
  font-family: "Artifika", serif;
  color: #000;
  background: #1f9e08;
  width: 50%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  padding-left: 10px;
}
input[type="button"]{
  display: inline-block;
}
input[type="text"]{
  width: 3em;
}
input[type="submit"], input[type="button"]{
  background: #1f9e08;
  color: #000;
  border: 1px solid;
  border-color: #1f9e08;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5) inset;
}
input[type="submit"]:hover, input[type="button"]:hover{
  background: #d0d0d0;
  color: #1f9e08;
  border: solid 1px;
  border-color: #000;
}
nav{
  background: #1f9e08;
  text-align: center;
  margin-bottom: 10px;
  border-top: solid 3px;
  border-bottom: solid 3px;
  border-color: #000;
  color: #000;
  box-shadow: 0 0 10px #000 inset;
}
nav a:link, nav a:active, nav a:visited{
  padding: 10px;
  color: #000;
}
nav a:hover{
  color: #d0d0d0;
}
a:link, a:active, a:visited, a:hover{
  padding: 5px;
  color: #1f9e08;
  text-decoration: none;
}
p{
  color: #000;
}
td input[type="text"]{
  width: 2em;
  height: 2em;
  margin: 0px;
  border: none;
  background: rgba(0, 0, 0, 0);
  color: #FFF;
  text-align: center;
  font: 20px "Reem Kufi";
}
td input[type="text"]:focus{
  outline: none;
}
.about{
  width: 50%;
  float: left;
  margin-left: 50px;
  margin-bottom: 50px;
}
.button{
  display: block;
  float: left;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}
.button:hover{
  box-shadow: 0 0 40px #FFF inset;
  transition: 1s;
}
.container{
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  margin: auto auto 50px;
  text-align: center;
}
.dice_head{
  width: 25%;
  margin: auto;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 5px;
  text-align: center;
  padding-left: 0px;
}
.float_right{
  float: right;
  padding: 10px;
}
.games{
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.heavy_right{
  border-right: 3px solid !important;
  border-color: #FFF;
}
.heavy_bottom{
  border-bottom: 3px solid;
  border-color: #FFF;
}

.images{
  width: 75%;
  margin: auto auto 50px;
  text-align: center;
}
.images img{
  width: 75%;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
  margin: auto;
}
.images p{
  width: 75%;
  margin: auto;
}
.intro{
  margin-top: 0px;
  background: linear-gradient(to bottom, #d0d0d0, #1f9e08);
  padding: 5px;
}
.links{
  margin-bottom: 10px;
}
.projects{
  width: 30%;
  margin-left: 50px;
  margin-bottom: 50px;
}
.projects a{
  padding: 0px;
  margin: 0px;
}
.summary{
  text-align: center;
}
#puzzle, #buttons{
  margin-bottom: 50px;
  text-align: center;
}
#puzzle table{
  border: 3px solid;
  border-color: #FFF;
  border-collapse: collapse;
  margin: auto;
}
#puzzle td{
  border: 1px solid;
  border-color: #FFF;
  width: 2em;
  height: 2em;
}
