input[type="text"]{
  width: 3em;
}
input[type="submit"]{
  background: #000033;
  color: #FFF;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 51, 0.5);
}
.container{
  border: 1px solid;
  border-color: #000033;
  padding: 5px;
}
.container #mod{
  width: 1em;
}
#dice_base{
  width: 30%;
  float: left;
}
