h4{
  -webkit-margin-before: 0px;
  -webkit-margin-after: 5px;
}
input[type="text"]{
  width: 3em;
}
input[type="submit"]{
  background: #000033;
  color: #FFF;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 51, 0.5);
}
.container{
  width: 25%;
  height: 7.5em;
  background: rgba(0, 0, 51, 0.1);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 10px;
}
#base{
  float: left;
  margin-left: 5%;
}
#adv{
}
#stat{
  float: right;
  margin-right: 5%;
}
